backend/src/movieService.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<definitions name="MovieService"
    targetNamespace="http://www.examples.com/wsdl/MovieService.wsdl"
    xmlns:tns="http://www.examples.com/wsdl/MovieService.wsdl"
    xmlns:soap="http://schemas.xmlsoap.org/wsdl/xml/"
    xmlns:xsd="http://www.w3.org/2001/XMLSchema"
    xmlns="http://schemas.xmlsoap.org/wsdl/">
    <message name="getMoviesRequest"/>
    <message name="getMoviesResponse">
        <part name="movies" type="xsd:string"/>
    </message>
    <message name="getMovieByIdRequest">
        <part name="id" type="xsd:int"/>
    </message>
    <message name="getMovieByIdResponse">
        <part name="movie" type="xsd:string"/>
    </message>
    <portType name="MovieServicePortType">
        <operation name="getMovies">
            <input message="tns:getMoviesRequest"/>
            <output message="tns:getMoviesResponse"/>
        </operation>
        <operation name="getMovieById">
            <input message="tns:getMovieByIdRequest"/>
            <output message="tns:getMovieByIdResponse"/>
        </operation>
    </portType>
    <binding name="MovieServiceSoapBinding" type="tns:MovieServicePortType">
        <soap:binding style="rpc" transport="http://schemas.xmlsoap.org/soap/http"/>
        <operation name="getMovies">
            <soap:operation soapAction="getMovies"/>
            <input>
                <soap:body use="literal"/>
            </input>
            <output>
                <soap:body use="literal"/>
            </output>
        </operation>
        <operation name="getMovieById">
            <soap:operation soapAction="getMovieById"/>
            <input>
                <soap:body use="literal"/>
            </input>
            <output>
                <soap:body use="literal"/>
            </output>
        </operation>
    </binding>
    <service name="MovieService">
        <documentation>My Movie Service</documentation>
        <port name="MovieServiceSoapPort" binding="tns:MovieServiceSoapBinding">
            <soap:address location="http://localhost:3001/xml"/>
        </port>
    </service>
</definitions>
